<h2 mat-dialog-title>Change Password</h2>

<div mat-dialog-content>
  <!-- <form> -->
  <mat-form-field class="form-field">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" [formControl]="currentpasswordcontrol" />
    <mat-error
      *ngIf="currentpasswordcontrol.hasError('required') && !currentpasswordcontrol.hasError('invalidPassword')"
    >
      Please Enter Current Password
    </mat-error>
    <mat-error *ngIf="currentpasswordcontrol.hasError('invalidPassword')">
      Invalid Current Password
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>New Password</mat-label>
    <input matInput type="password" [formControl]="newpasswordcontrol" [(ngModel)]="newPassword" name="newpassword" />
    <mat-error *ngIf="newpasswordcontrol.hasError('required')">
      Please Enter New Password
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Repeat New Password</mat-label>
    <input matInput type="password" [formControl]="repeatpasswordcontrol" />
    <mat-error *ngIf="repeatpasswordcontrol.hasError('required') && !repeatpasswordcontrol.hasError('notEqual')">
      Please Repeat Password
    </mat-error>
    <mat-error *ngIf="repeatpasswordcontrol.hasError('notEqual')">
      Password Does Not Match
    </mat-error>
  </mat-form-field>
  <!-- </form> -->
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" (click)="confirm()">Update</button>
</div>
