@import "node_modules/bootstrap/scss/bootstrap.scss";

.products-main {
  padding-top: 20px;
  margin-bottom: 20px;
  p {
    text-align: center;
    font-size: 40px;
  }
  @media only screen and (max-width: 500px) {
    p {
      font-size: 24px;
    }
  }
}

.summary {
  display: flex;
  flex-direction: row;

  .detail {
    text-align: center;
    padding: 5px;
    font-weight: bold;
  }
}

.red {
  color: crimson;
}

table {
  width: 100%;
  @media only screen and (max-width: 500px) {
    td {
      font-size: 10px;
    }
  }
}

.mat-elevation-z8 {
  height: fit-content;
  max-height: initial;
  overflow: auto;
}

.orange {
  color: chocolate;
}

.green {
  color: green;
}

.delete-product-button {
  cursor: pointer;
}
