@import "node_modules/bootstrap/scss/bootstrap.scss";

.orders-main {
  padding-top: 20px;
  p {
    text-align: center;
    font-size: 40px;
  }
  @media only screen and (max-width: 500px) {
    p {
        font-size: 24px;
    }
  }
}

.summary {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  margin: 20px 0;

  .detail {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .summary {
      grid-template-columns: auto auto auto;

      .detail{
        font-size: 10px;
        padding: 13px;
      }
  }
}

table {
  width: 100%;
  @media only screen and (max-width: 500px) {
    td {
        font-size: 10px;
    }
  }
}

.mat-elevation-z8 {
  height: fit-content;
  max-height: initial;
  overflow: auto;
}

.processing {
  color: chocolate;
}

.processing-card {
  background-color: chocolate;
  color: white;
}

.completed {
  color: green;
}

.completed-card {
  background-color: green;
  color: white;
}
.pending {
  color: dodgerblue;
}

.pending-card {
  background-color: dodgerblue;
  color: white;
}

.rejected {
  color: crimson;
}

.rejected-card {
  background-color: crimson;
  color: white;
}
.total-card {
  background-color: black;
  color: white;
}
