<div class="nav">
  <div class="section col-md-3 col-sm-6" routerLink="/home">
    <mat-card [class.selected]="active == 'home'" (click)="active = 'home'">
      <p>Home</p>
    </mat-card>
  </div>
  <div class="section col-md-3 col-sm-6" routerLink="/admin">
    <mat-card [class.selected]="active == 'products'" (click)="active = 'products'">
      <p>Admin-Products</p>
    </mat-card>
  </div>
  <div class="section col-md-3 col-sm-6" routerLink="/admin/orders">
    <mat-card [class.selected]="active == 'orders'" (click)="active = 'orders'">
      <p>Admin-Oders</p>
    </mat-card>
  </div>
  <div class="section col-md-3 col-sm-6" routerLink="/user/profile">
    <mat-card [class.selected]="active == 'profile'" (click)="active = 'profile'">
      <p>User Profile</p>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
