.nav {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .section {
    margin: 5px;

    mat-card {
      width: inherit;
    }

    .selected {
      background-color: dodgerblue;
      color: white;
    }

    p {
      text-align: center;
      font-weight: bold;
      margin: 0 auto;
      font-size: 20px;
    }
    @media only screen and (max-width: 500px) {
      p {
        font-size: 10px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    grid-template-columns: 1fr 1fr;
  }
}
