@import "node_modules/bootstrap/scss/bootstrap.scss";

.dashboard {
  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-icon {
  color: white;
}

.content {
  height: 88%;
  p {
    text-align: center;
    color: deepskyblue;
    margin: 20px;
    border-bottom: 2px solid deepskyblue;
    font-weight: bold;
    font-size: 45px;
  }
  @media only screen and (max-width: 500px) {
    p {
        font-size: 24px;
    }
  }

  .vertical-nav {
    height: inherit;
    background-color: #343a40;
    float: left;
    border: 1px solid #343a40;
    padding: 0;

    .navbar {
      // margin: 10px 0;
      padding: 0;
      width: inherit;

      .navbar-nav,
      .nav-item {
        width: inherit;
      }

      a {
        text-align: center;
        color: white;
      }
      .active {
        background-color: white;
        color: royalblue;
      }

      a:hover:not(.active) {
        background: royalblue;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    .vertical-nav {
        height: fit-content;
    }
  }

  .details {
    // border: 1px solid #343A40;
    // background-color: firebrick;
    float: right;
    height: inherit;
    // width: 95%;
    // margin: ;
  }
}
