<!-- <div class="dashboard">
    <div>
        <a [routerLink]="'orders'">Orders</a>
        <a [routerLink]="'products'">Products</a>
        <a [routerLink]="'workers'">Workers</a>
    </div>
    <router-outlet></router-outlet>
</div> -->

<div class="main container-fluid">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand">DSU Food Bank</a>
    <span class="spacer"></span>
    <div class="nav-item navbar-nav">
      <!-- <a class="nav-link" href="#">Link</a> -->
      <mat-icon
        color="primary"
        class="nav-icon"
        aria-hidden="false"
        aria-label="login icon"
        routerLink="/login"
        routerLinkActive="active"
        >logout</mat-icon
      >
    </div>
  </nav>

  <div class="content">
    <p>Admin Dashboard</p>

    <div class="col-lg-2 col-md-4 col-sm-4 vertical-nav">
      <nav class="navbar bg-dark navbar-dark">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="products" routerLinkActive="active">Products Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="orders" routerLinkActive="active">Order Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="workers" routerLinkActive="active">Employee Management</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container-fluid col-lg-10 col-md-8 col-sm-8 details">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
