@import "node_modules/bootstrap/scss/bootstrap.scss";

.nav-item {
  display: flex;
  flex-direction: row;

  .nav-header {
    color: deepskyblue;
  }
}
.icon {
  padding-right: 14px;
  color: white;
  margin: 5px;
}

.spacer {
  flex: 1 1 auto;
}
