@import "node_modules/bootstrap/scss/bootstrap.scss";

.main {
  height: 100vh;
  // padding: 0 30px;
  // background-color: lightsteelblue;
}

.content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.vertical-nav {
  padding: 0 15px;
  background-color: #eeeeee;
  * {
    width: inherit;
  }

  ul {
    list-style: none;
    padding: 10px 0 0 15px;
  }

  p:not(.nav-header) {
    cursor: pointer;
  }
}

mat-toolbar {
  mat-toolbar-row {
    padding-left: 0;
  }
  // .active{
  //   color: black;
  //   box-shadow: black;
  // }
}

.form-field {
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  background-color: #eaf7ee;
  overflow: hidden;

  .header {
    margin-top: 30px;
    align-content: space-between;
    p {
      font-size: 46px;
      color: #f7ae7e;
      text-shadow: 2px 2px 4px grey;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      margin: auto;
    }
  }
  @media only screen and (max-width: 500px) {
    .header {
      display: none;
    }
  }

  .search {
    margin: 10px auto;
    padding-top: 20px;
  }

  .image {
    margin: 0;
    padding: 20px;
    background-image: url("src/assets/food-image.png");
    background-size: cover;
    background-position: center;
  }
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 150px));
  grid-gap: 20px;
}

.selected {
  color: crimson;
  font-weight: bold;
}

.navbar-toggler {
  border: 1px solid darkgrey;
  display: none;
}

.navbar-collapse {
  align-items: unset;
}

@media only screen and (max-width: 500px) {
  .navbar-toggler {
    display: block;
  }
}
