<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<div class="main">
  <app-header></app-header>

  <div class="search-container">
    <div class="container-fluid header col-md-4 col-sm-0">
      <p>Products</p>
    </div>
    <div class="container-fluid search col-md-4 col-sm-6">
      <!-- <mat-card class="search-card"> -->
      <mat-form-field class="form-field">
        <mat-label>Search Item</mat-label>
        <input matInput type="text" name="search" [(ngModel)]="search" (ngModelChange)="findProducts()" />

        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleCats">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <!-- </mat-card> -->
    </div>
    <div class="container-fluid image col-md-4 col-sm-6"></div>
  </div>

  <!-- <div class="container-fluid category-nav">
    <mat-toolbar>
      <mat-toolbar-row>
        <span (click)="changeCategory('all')" [class.active]="category=='all'">All</span>
        <span *ngFor="let c of categories" (click)="changeCategory(c)" [class.active]="c==category">{{c | titlecase}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div> -->

  <div class="container-fluid content navbar-expand-md">
    <div class="contaner-fluid col-md-2 col-sm-2 vertical-nav collapse navbar-collapse" id="collapsibleCats">
      <nav>
        <!-- Links -->
        <ul>
          <li>
            <p class="nav-header">Categories</p>
          </li>
          <li>
            <p [class.selected]="selectedCats.length == 0" (click)="showAll()">All</p>
          </li>

          <li *ngFor="let category of categories">
            <p [class.selected]="selectedCats.indexOf(category) != -1" (click)="selectCat(category)">{{ category }}</p>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid col-md-10 col-sm-10">
      <div class="item-list">
        <app-product-card class="item" *ngFor="let product of productsToShow" [product]="product"> </app-product-card>
      </div>
      <div *ngIf="productsToShow.length == 0">
        <h5>Product Not Found......</h5>
      </div>
    </div>

    <!-- <div class="container-fluid col-md-2 news">
      <h6 class="title">News and Updates</h6>
    </div> -->
  </div>

  <div class="container-fluid footer">
    <app-footer></app-footer>
  </div>
</div>
