<!-- <div class="container">
  <a [routerLink]="'/home'">Home</a>
  <a [routerLink]="'/products'">Products</a>
  <a [routerLink]="'/orders'">Orders</a>
  <a [routerLink]="'/login'">Login</a>
  <a [routerLink]="'/signup'">Signup</a>
</div> -->
<!-- <a [routerLink]="'/home'">Home</a>
<a [routerLink]="'/products'">Products</a>
<a [routerLink]="'/orders'">Orders</a>
<a [routerLink]="'/login'">Login</a>
<a [routerLink]="'/signup'">Signup</a>
<a [routerLink]="'/contact'">Contact Us</a>
<a [routerLink]="'/about'">About Us</a>
<a [routerLink]="'/policy/privacy'">Privacy Policy</a>
<a [routerLink]="'/policy/privacy'">Terms & Condition</a> -->

<div class="main">
  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#">DSU Food Bank</a>
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </nav> -->
  <!-- <mat-toolbar color="primary"> -->

  <!-- <mat-toolbar-row class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="logo"><span>DSU Food Bank</span></div>

      <span class="link">Orders</span>
      <span class="link">Request Special Item</span>
      <span class="link">Donate Item</span>
      <span class="link">Contact Us</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="notifications icon"  >notifications</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="shopping_cart icon">shopping_cart</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="login icon" routerLink="/login" routerLinkActive="active">person</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar> -->

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand">DSU Food Bank</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Request Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
      </li>
    </ul>
    <span class="example-spacer"></span>
    <div class="nav-item navbar-nav">
      <!-- <a class="nav-link" href="#">Link</a> -->
      <mat-icon class="example-icon" aria-hidden="false" aria-label="notifications icon">notifications</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="shopping_cart icon">shopping_cart</mat-icon>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="login icon"
        routerLink="/login"
        routerLinkActive="active"
        >person</mat-icon
      >
    </div>
  </nav>

  <div class="container-fluid search-container">
    <div class="container-fluid header col-md-4 col-sm-0">
      <p>Products</p>
    </div>
    <div class="container-fluid search col-md-4 col-sm-6">
      <!-- <mat-card class="search-card"> -->
      <mat-form-field class="example-form-field">
        <mat-label>Search Item</mat-label>
        <input matInput type="text" name="search" [(ngModel)]="search" (ngModelChange)="findProducts()" />

        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <!-- </mat-card> -->
    </div>
    <div class="container-fluid image col-md-4 col-sm-6"></div>
  </div>

  <!-- <div class="container-fluid category-nav">
    <mat-toolbar>
      <mat-toolbar-row>
        <span (click)="changeCategory('all')" [class.active]="category=='all'">All</span>
        <span *ngFor="let c of categories" (click)="changeCategory(c)" [class.active]="c==category">{{c | titlecase}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div> -->

  <div class="container-fluid content">
    <div class="contaner-fluid col-md-2 col-sm-2 vertical-nav">
      <nav class="navbar navbar-light">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <p class="nav-header">Categories</p>
          </li>
          <li class="nav-item">
            <p [class.selected]="selectedCats.length == 0" (click)="showAll()">All</p>
          </li>

          <li class="nav-item" *ngFor="let category of categories">
            <p [class.selected]="selectedCats.indexOf(category) != -1" (click)="selectCat(category)">{{ category }}</p>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid col-md-10 col-sm-10">
      <div class="item-list">
        <app-product-card class="item" *ngFor="let product of productsToShow" [product]="product"> </app-product-card>
      </div>
      <div *ngIf="productsToShow.length == 0">
        <h5>Product Not Found......</h5>
      </div>
    </div>

    <!-- <div class="container-fluid col-md-2 news">
      <h6 class="title">News and Updates</h6>
    </div> -->
  </div>

  <div class="container-fluid footer">
    <app-footer></app-footer>
  </div>
</div>
